
<div class="home-page-wrapper">
  <div class="content-wrapper">
    <nz-steps [nzCurrent]="status" class="import-template-steps">
      <nz-step nzTitle="指导语"></nz-step>
      <nz-step nzTitle="阶段一"></nz-step>
      <nz-step nzTitle="阶段二"></nz-step>
      <nz-step nzTitle="阶段三"></nz-step>
      <nz-step nzTitle="阶段四"></nz-step>
      <nz-step nzTitle="阶段五"></nz-step>
      <nz-step nzTitle="阶段六"></nz-step>
      <nz-step nzTitle="阶段七"></nz-step>
    </nz-steps>

    <router-outlet></router-outlet>
  </div>
  
</div>
